genowheat_recoded.csv
genowheat_recoded2.csv
mapwheat_recoded.csv
mapwheat_recoded.txt
mapwheat_recoded2.txt
mapwheat_reduced.txt
qtlPlot.pptx
recoded_versions_for_import.zip
RiceDiversity.44K.MSU6.Genotypes.csv
RiceDiversity.44K.MSU6.Genotypes_PLINK.zip
RiceDiversity.44K.germplasm.csv
ncomms1467-s2.xls
ncomms1467-s3.xls
ncomms1467-s4.xls
ncomms1467-s5.xls
VarComp.RData
